<!-- <div class="col-md-8 col-md-6 col-md-7 d-flex align-items-center order-1 order-md-2">
    <marquee behavior="scroll" direction="left">
  <img src="../assets/124.png"
    class="img-fluid" alt="Sample image">
</marquee>
</div> -->
<!-- 
<marquee width="scroll" direction="right" scrollAmount="12" >
    <img src="../assets/124.png"
    class="img-fluid" alt="Sample image">
    </marquee>

    <div class="card" style="width: 18rem;">
        <img src="../assets/123.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Liberty Boot</h5>
          <p class="card-text">Easy to use.</p>
          <a href="#" class="btn btn-primary">Limited Addition</a>
        </div>
      </div> -->

      <marquee behavior="scroll" direction="right" scrollamount="12">Need shoes made for wet weather? Check out the Mizzle Collection. Shop Men | Shop Women</marquee>
<!-- 
     <div class="card-group">
        <div class="card">
          <img src="../assets/123.png" class="card-img-top" width="1100"alt="...">
          <div class="card-body">
            <h5 class="card-title">Comfort</h5>
            <p class="card-text">Easy to go any where.</p>
            <p class="card-text"><small class="text-muted">Check out the Mizzle Collection</small></p>
          </div>
        </div>
        <div class="card1">
          <img src="../assets/124.png" class="card-img-top" width="1100" alt="...">
          <div class="card-body">
            <h5 class ="card-title">Liberty shoes collections</h5>
            <p class="card-text">Liberty shoes collections</p>
            <p class="card-text"><small class="text-muted">classic look</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/123.png" class="card-img-top" width="1100" alt="...">
          <div class="card-body">
            <h5 class="card-title">Boot</h5>
            <p class="card-text">easy to use</p>
            <p class="card-text"><small class="text-muted">Check out the Mizzle Collection</small></p>
          </div>
        </div>
      </div>
 -->

   

 <div class="row">
    <div class="column">
      <img src="../assets/123.png">
      <img src="../assets/124.png">
      <img src="../assets/125.png">
      <img src="../assets/126.png">
      <img src="../assets/127.png">
      <img src="../assets/shoes12.jpg">
      <img src="../assets/123.png">
    </div>
  </div>

  