<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand align-item-center d-flex">
        <i style="font-size: 40px;" class="fas fa-shipping">&nbsp;
        <strong>LibertyTrends</strong></i> <li class="active"></a> 
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a router routerLink="home">HOME</a></li>
      <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">FORMAL </a></li>
          <li><a href="#">KIDS</a></li>
          <li><a href="#">SPORTS</a></li>
        </ul>
      </li> -->
      <li><a routerLink="trends">TRENDS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="register"><span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
  
</nav>


<!-- <div id="1">
  <div class="container">
  <h1 class ="sub-title">Jungle Boot </h1>
  <div class="work-list">
      <div class="work">
          <img src="../assets/liberty-trainer-jungle-boot-olive-500x500 1.webp" alt="">
          <div class="layer">
              <h3>Offers</h3>
              <P>● A search form in the homepage to allow entry of travel details, like the date of travel, source, destination, and the number of persons.
              
                   </P>
                  <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
          </div>
      </div>

      <div class="work">
          <img src="../assets/liberty-bambino-school-shoes-500x500 3.webp" alt="">
          <div class="layer">
              <h3>Classic Layer </h3>
              <P> Comfortable wear shcool chapm </P>
                  <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
      </div>

      <div class="work">
          <img src="images/liberty-trainer-jungle-boot-olive-500x500 1.webp" alt="">
          <div class="layer">
              <h3>Boot Strap</h3>
              <P>LibertyTrends Shoes is a company that manufactures and sells sports shoes. They have a walk-in store, and now, they wish to launch their e-commerce portal LibertyTrends.com.</P>
                  <a href="#"><i class="fas fa-external-link-alt"></i></a>
          </div>
      </div>
       -->
  

<router-outlet></router-outlet>

